.p{
    display: flex;
    align-items: center;
    animation: fromLeft 2s forwards ;
}
.p::after{
display: inline-block;
content: '';
width: 4px;
height: 200px;
background-color: black;
margin-left: 14px;
}

.img{
    animation: fromRight 2s forwards ;
}

@media (max-width: 768px) {
    .p {
      /* Adjust the size or layout for mobile */
      font-size: 12px; /* Example: Reduce font size */
    }
  
    .p::after {
      /* Adjust the pseudo-element for mobile */
      height: 180px; /* Example: Reduce height */
    }
  
    .img {
      /* Adjust the image size for mobile */
      width: 100%; /* Make the image responsive */
      max-width: 200px; /* Limit the maximum width */
      height: auto; /* Maintain aspect ratio */
    }
  }

.con{
    animation: removeCon 1s forwards 4s;
}

@keyframes removeCon{
    to{
        opacity: 0;
    }

}

@keyframes fromRight{
    from{
        opacity: 0;
        transform: translateX(300px);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes fromLeft{
    from{
        opacity: 0;
        transform: translateX(-300px);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}