#root {
  width: 100%;
  margin: 0 auto;
  padding: 0rem;
  text-align: center;
  position: relative;
  z-index: 3;
}
.mantine-Button-root{
  transition: all 0.6s;
}
.mantine-Button-root:focus {
  outline: none;
}
*:focus {
  outline: none;
}
.mantine-Button-root:hover {
  border-color: #37A9EF !important;
  transform: scale(1.05);
  transition: all 0.4s;
}

.mantine-Card-root{
  transition: all 0.4s;
}
.mantine-Card-root:hover{
  transform: scale(1.05);
  transition: all 0.4s;
}

input::placeholder{
  text-align: start;
}
input{
  text-align: start !important;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
  /* color: #37a8ef; */
  /* color: rgb(223, 57, 45); */
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
